[Desktop Entry]
Type=Application
Name=IDE C--
Comment=C-- IDE
Exec=IDE_C--
Icon=com.ide_cmm.ide
Terminal=false
Categories=Development;IDE;
StartupNotify=true
