.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}

.margin{
    margin: 10px;
}

.nopadding{
    padding: 0;
    margin: 0;
}